<div class="footer-color">
  <div class="container footer-container p-4">
    <div class="row pt-4 px-4">
      <footer
        class="d-flex flex-wrap justify-content-between align-items-center border-top pt-4 mt-4"
      >
        <p class="col-md-4 mb-0 text-body-secondary">©TESTBAKERY</p>
        <div
          class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
        >
          <div class="navbar-brand">
            <img
              src="/assets/images/TestBakery-Logo.svg"
              class="hover-logo"
              alt="TestBakery"
              width="140rem"
            />
          </div>
        </div>

        <ul
          class="nav col-md-4 justify-content-end"
          aria-label="Informații despre comenzi"
        >
          <li class="nav-item">
            <a routerLink="/delivery" class="nav-link p-2 text-body-secondary"
              >Plată și livrare</a
            >
          </li>
          <li class="nav-item">
            <a routerLink="/return" class="nav-link p-2 text-body-secondary"
              >Retur</a
            >
          </li>
          <li class="nav-item">
            <a routerLink="/terms" class="nav-link p-2 text-body-secondary"
              >Termeni</a
            >
          </li>
        </ul>
      </footer>
    </div>
    <div class="row pt-4 px-4">
      <div class="col-6 px-2 SAL-col">
        <a
          href="https://anpc.ro/ce-este-sal/"
          target="_blank"
          rel="nofollow noopener"
        >
          <img
            src="/assets/images/SAL.webp"
            width="165"
            height="41"
            class="SAL-SOL"
            alt="ANPC: soluționarea alternativă a litigiilor (se deschide într-o filă nouă)"
          />
        </a>
      </div>
      <div class="col-6 px-2 SOL-col">
        <a
          href="https://ec.europa.eu/consumers/odr"
          target="_blank"
          rel="nofollow noopener"
        >
          <img
            src="/assets/images/SOL.svg"
            class="SAL-SOL"
            alt="Comisia Europeană: soluționarea online a litigiilor (se deschide într-o filă nouă)"
          />
        </a>
      </div>
    </div>
    <div class="row px-4">
      <div
        class="container d-flex justify-content-center align-items-center text-center text-body-secondary pt-4 my-4"
      >
        Developed and maintained by DanFrunza
      </div>
    </div>
  </div>
</div>
