<div class="container p-4"></div>
<div class="container p-2">
  <div class="card p-4 m-4">
    <h1 class="text-center">Termeni si conditii</h1>
    <p class="terms-info-text">
      TERMENI ȘI CONDITII Misam
      <br />
      <br />
      Prin accesul și utilizarea acestui site, declarați că sunteți de acord cu
      prezentul document.
      <br />
      Utilizarea serviciilor noastre este supusă unui set de condiții de
      utilizare, condiții ce circumscriu tuturor legilor și regulamentelor
      aplicabile. Acest fapt implică acceptul, fără rezerve sau calificări, a
      Termenilor și Condițiilor prezente.
      <br />
      <br />
      Proprietarul Site-ului este S.C. MISAM S.R.L., cu sediul social în Sibiu,
      Strada Marasesti nr. 9, înregistrată Registrul Comerțului J32/269/92, cod
      unic de înregistrare RO 798604.
      <br />
      <br />
      În privința prelucrării datelor dumneavoastră cu caracter personal in
      contextul interacționării cu acest site, vă invitam să consultați Politica
      de Confidențialitate.
      <br />
      <br />
      Acest site oferă informații și nu constituie o ofertă comercială astfel
      cum este definită de Codul Civil.
      <br />
      Proprietarul site-ului va depune toate eforturile pentru a se asigura că
      informațiile publicate sunt actuale și exacte, însă nu poate fi tras la
      răspundere pentru acțiunile întreprinse în baza acestor informații. Pe
      cale e consecință, riscul asociat utilizării site-ului revine exclusiv
      utilizatorului.
      <br />
      Proprietarul site-ului nu își asumă, de asemenea, responsabilitatea pentru
      securitatea acestuia sau a liniei dumneavoastră de comunicare cu acesta.
      <br />
      <br />

      DEFINITII:
      <br />
      <br />
      Vânzător – S.C. MISAM S.R.L.

      <br />
      Cumpărător – reprezintă orice persoană fizică cu vârsta de minim 16 ani
      sau orice persoană juridică ori entitate care își creează un Cont în site,
      sau efectuează o Comanda telefonică.

      <br />
      Cont – reprezintă secțiunea din site utilizată de Cumpărător, formată
      dintr-o adresă de e-mail și o parolă și care conține informații despre
      Cumpărător, precum și istoricul achizițiilor. Prin intermediul acestei
      secțiuni, Cumpărătorul poate transmite Comenzi repetate în mod rapid și
      facil.

      <br />
      Coșul meu – reprezintă secțiunea din Cont care permite Cumpărătorului să
      adauge produsele dorite.

      <br />
      Site – reprezintă magazinul online găzduit la adresa web www.testbakery.ro
      și subdomeniile acestuia.

      <br />
      Comandă – reprezintă documentul electronic generat prin intermediul
      site-ului, ca formă de comunicare, prin care Cumpărătorul transmite
      Vânzătorului intenția sa de a achiziționa produsele selectate.

      <br />
      Produse – reprezintă orice produs sau serviciu listat pe site, inclusiv
      produsele și serviciile menționate în Comandă, care urmează a fi
      furnizate.

      <br />
      Contract – reprezintă contractul la distanta încheiat intre Vânzător și
      Cumpărător.

      <br />
      Conținut – reprezintă:
      <br />
      • toate informațiile de pe site;
      <br />
      • conținutul oricărui e-mail trimis Cumpărătorilor de către Vânzător;
      <br />
      • orice informație comunicata prin orice mijloc de către un
      angajat/colaborator al Vânzătorului,

      <br />
      Document – prezentele Termene și Condiții.

      <br />
      Comunicări Comerciale – reprezintă orice tip de mesaj trimis (cum ar fi:
      e-mail/SMS/telefonic/mobile push/webpush/etc.) conținând informații cu
      privire la produse similare sau complementare cu cele pe care le-ați
      achiziționat, informații cu privire la oferte sau promoții, informații
      referitoare la Produse și Servicii adăugate în secțiunea “Cont/Coșul meu”,
      etc.

      <br />
      Tranzacție – reprezintă încasarea sau rambursarea unei sume rezultată din
      vânzarea unui produs și/sau Serviciu de către Misam, prin utilizarea
      serviciilor procesatorului de carduri agreat de către Vânzător.

      <br />
      Specificații – reprezintă descrierile și detaliile Produselor și
      Serviciilor.
      <br />
      <br />

      RELAȚIONARE CONTRACTUALĂ
      <br />
      <br />
      Prin înregistrarea unei Comenzi pe site, Cumpărătorul este de acord cu
      forma de comunicare (telefonică sau prin e-mail) determinată pentru
      realizarea actului comercial. In cazul comenzilor online, notificarea
      primită electronic (e-mail) de către Cumpărător, după efectuarea Comenzii
      are rol de informare și nu reprezintă acceptarea Comenzii.
      <br />
      În cazuri justificate, Vânzătorul își rezervă dreptul de a aduce
      modificări cantităților Produselor și/sau Serviciilor din Comandă. În
      această situație, va anunța Cumpărătorul pe adresa de e-mail sau la
      numărul de telefon puse la dispoziție cu ocazia efectuării Comenzii. Acolo
      unde este cazul, va returna sau compensa eventualele diferențe de sume de
      achitat.
      <br />
      Contractul se considera încheiat în momentul primirii de către Cumpărător,
      prin intermediul e-mail-ului și/sau prin SMS a notificării de expediere a
      Comenzii.
      <br />
      <br />

      POLITICA DE VÂNZARE ONLINE
      <br />
      <br />
      Accesul în vederea efectuării unei Comenzii ii este permis oricărui
      Cumpărător. Pentru motive justificate Misam își rezervă dreptul de a
      restricționa accesul Cumpărătorului în vederea efectuării unei Comenzi
      și/sau la unele din modalitățile de plata acceptate, în cazul în care
      considera ca în baza conduitei sau a activității Cumpărătorului pe site,
      acțiunile acestuia ar putea prejudicia în vreun fel Misam. În acest caz,
      Cumpărătorul se poate adresa conducerii Misam pentru a fi informat cu
      privire la motivele care au condus la aplicarea măsurilor antemenționate.
      <br />
      Cumpărătorul poate efectua Comenzi pe site, prin adăugarea produsele
      dorite în Coșul meu, urmând a finaliza Comanda prin efectuarea plății prin
      una dintre modalitățile indicate. Odată adăugat în Coșul meu, un Produs
      este disponibil pentru achiziție în măsura în care există stoc disponibil
      pentru acesta. Adăugarea unui Produs în Coșul meu, fără a se finaliza
      Comanda, nu atrage după sine înregistrarea acesteia.
      <br />
      Prin finalizarea Comenzii Cumpărătorul consimte ca toate datele furnizate
      de acesta, necesare procesului de cumpărare, sunt corecte, complete și
      adevărate. Totodată, Cumpărătorul consimte ca Vânzătorul poate să îl
      contacteze, prin orice mijloc disponibil, în orice situație în care este
      necesară contactarea sa.
      <br />
      Vânzătorul poate anula Comanda efectuată de către Cumpărător, în urma unei
      notificări prealabile adresate acestuia, fără nicio obligație ulterioară a
      vreunei parți față de cealaltă sau fără ca vreo parte să poată pretinde
      celeilalte daune-interese în următoarele cazuri:
      <br />
      • neacceptarea tranzacției de către banca emitenta a cardului
      Cumpărătorului, în cazul plății online;
      <br />
      • invalidarea tranzacției de către procesatorul de carduri agreat de
      Misam, în cazul plății online;
      <br />
      • datele furnizate de către Client/Cumpărător, pe site sunt incomplete
      și/sau incorecte;

      <br />
      <br />

      POLITICA DE RETUR ȘI ÎNLOCUIRE. NELIVRARE.
      <br />
      <br />
      În cazul în care un produs și/sau Serviciu comandat nu poate fi livrat de
      către Vânzător, acesta va informa Cumpărătorul și va returna, în cazul
      plăților online, în contul Cumpărătorului contravaloarea Comenzii, în
      termen de maxim 7 (sapte) zile de la data Comenzii.
      <br />
      <br />

      De asemenea, dacă din orice motiv real și obiectiv produsul comandat nu
      este conform așteptărilor, el va fi refăcut și trimis cât se poate de
      repede. În caz contrar, contravaloarea comenzii va fi returnată.
      <br />
      <br />

      Pentru a se putea reglementa situația în orice fel, este necesar sa fie
      returnat produsul neconform sau, daca nu e posibil, să fie fotografiat în
      detaliu și trimis pe adresa de contact. Vânzătorul va putea amâna
      rambursarea sumei până la primirea produsului vândut sau până la primirea
      unei dovezi conform căreia acesta a fost deteriorat sau neconform.
      BUNURI/SERVICII PENTRU CARE NU SE ASIGURA DREPTUL DE RETRAGERE
      <br />
      <br />
      furnizarea de Produse sigilate care nu pot fi returnate din motive de
      protecție a sănătății sau din motive de igienă și care au fost desigilate
      de Cumpărător; furnizarea de Produse care sunt, după livrare, potrivit
      naturii acestora, inseparabil amestecate cu alte elemente;

      <br />
      <br />
      REGLEMENTARI COMUNE ÎN MATERIE DE VÂNZARE
      <br />
      <br />
      Misam poate publica pe site informații despre produse și/sau servicii
      și/sau promoții practicate de către acesta sau de către oricare alt terț
      colaborator ori partener.
      <br />
      Toate costurile aferente produselor și/sau serviciilor prezentate pe site
      sunt exprimate în lei (RON) și includ T.V.A.
      <br />
      <br />
      În cazul plăților online Vânzătorul nu este responsabil pentru niciun alt
      cost suplimentar suportat de Cumpărător, relativ la eventuale comisioane
      de conversie valutară aplicate de către banca emitentă a cardului
      acestuia, în cazul în care moneda de emitere a acestuia diferă de RON.
      <br />
      <br />

      PROPRIETATE INTELECTUALĂ (COPYRIGHT)
      <br />
      <br />
      Conținutul, astfel cum este definit în preambul, precum logo-uri,
      reprezentări stilizate, simboluri comerciale, imagini statice, imagini
      dinamice, text și/sau conținut multimedia prezentate pe site, sunt
      proprietatea exclusivă a Misam, acestuia fiindu-i rezervate toate
      drepturile de autor sau utilizator obținute în acest sens în mod direct
      sau indirect (prin licențe de utilizare și/sau publicare).
      <br />
      <br />
      Toate informațiile folosite pentru descrierea produse și/sau a serviciilor
      disponibile pe site (imagini statice / dinamice / prezentări multimedia /
      etc.) nu reprezintă o obligație contractuală din partea Vânzătorului,
      acestea fiind utilizate exclusiv cu titlu de prezentare.
      <br />
      Nu sunt permise:
      <br />
      1. copierea, multiplicarea, distribuirea, arhivarea sau păstrarea, prin
      orice mijloace, inclusiv electronice, magnetice sau computerizate, a
      materialelor și informațiilor existente pe acest website;
      <br />
      2. încercarea de a interveni, prin orice mijloace, în conținutul acestui
      site, ștergerea sau modificarea prin orice mijloace a materialelor și
      informațiilor publicate, sau încercarea de a acționa în acest scop;
      <br />
      3. încercarea de a scana, sonda sau a testa vulnerabilitatea oricărui
      sistem aparținând Misam sau accesarea oricăror servere sau servicii
      proprietate și care nu sunt publice, fără autorizație explicită în scris
      din partea Misam;
      <br />
      4. încercarea de a interveni în funcționarea serverelor de hosting sau în
      rețeaua Misam prin orice mijloace, inclusiv atacarea acestora prin metode
      “flooding” sau “DOS”;
      <br />
      5. folosirea oricăror adrese de e-mail publicate prin intermediul
      website-ului pentru distribuirea lor pe liste de mailing, pentru
      trimiterea de e-mailuri comerciale (“spamming”) sau pentru orice alt scop
      în afară de trimiterea de e-mailuri personale justificate, fără acordul
      scris al posesorilor acestor adrese
      <br />
      <br />
      Cumpărătorul poate copia, transfera și/sau utiliza Conținut numai în
      scopuri personale sau non-comerciale, numai în cazul în care acestea nu
      intra în conflict cu prevederile prezentului documentului.
      <br />
      <br />

      Este interzisă orice utilizare a Conținutului în alte scopuri decât cele
      permise expres prin prezentul Document sau de acordul de utilizare care îl
      însoțește, în cazul în care acesta există.

      <br />
      <br />

      CONFIDENȚIALITATE
      <br />
      <br />
      Misam va păstra confidențialitatea informațiilor de orice natură pe care
      le furnizați.
      <br />Dezvăluirea informațiilor furnizate se va putea face doar în
      condițiile menționate în Politica de Confidențialitate.
      <br />
      <br />
      Nicio declarație publică, promovare, comunicat de presa sau orice alt mod
      de dezvăluire către terțe părți nu va fi făcută de Cumpărător cu privire
      la Comandă fără consimțământul prealabil scris al Vânzătorului.
      <br />
      <br />
      Prin transmiterea de informații sau materiale prin intermediul acestui
      site, oferiți Vânzătorului acces nerestricționat și irevocabil la acestea,
      dreptul de a utiliza, reproduce, afișa, modifica, transmite și distribui
      aceste materiale sau informații. Sunteți, de asemenea, de acord ca
      Vânzătorul să poată utiliza liber, în interes propriu, aceste informații,
      idei, concepte, know-how-uri sau tehnici pe care ni le-ați trimis prin
      intermediul site-ului.
      <br />
      <br />

      COMUNICARI COMERCIALE
      <br />
      <br />
      Clientul/Utilizatorul se poate abona/dezabona, în orice moment, de la
      Comunicările Comerciale, prin accesarea link-ului de dezabonare afișat în
      mesajele comerciale primite de la Misam sau prin contactarea Misam în
      acest sens.
      <br />
      <br />
      De asemenea, pentru îmbunătățirea ofertei de Produse și Servicii și a
      experienței de cumpărare, vom folosi datele dvs. pentru efectuarea de
      cercetări de piață și sondaje de opinie. Informațiile obținute în urma
      acestor cercetări nu vor fi utilizate în scopuri publicitare ci doar în
      cele menționate mai sus. Răspunsurile dvs. la cercetările de piață și
      sondajele de opinie nu vor fi asociate cu identitatea dvs. și nici
      transmise către terți și nici nu vor fi publicate.
      <br />
      <br />

      FACTURARE – PLATĂ
      <br />
      <br />
      Prețul de achiziție prezentat pe bonul fiscal / factură va fi același cu
      cel prezentat pe website la momentul achiziției.
      <br />
      <br />

      Plata produselor cu transfer bancar: comanda se achita prin transfer
      bancar iar o copie dupa ordinul de plata trebuie trimisa pe adresa de mail
      <a href="mailto:test@testbakery.ro">test&#64;testbakery.ro</a> pentru a fi
      confirmata Plata la livrare: comanda se achită reprezentantului Companiei
      în momentul livrării comenzii prin plata ramburs.
      <br />
      Plata online: comanda se achită cu cardul bancar prin intermediul
      procesatorului de plăți agreat de Vânzător.
      <br />În cazul în care Cumpărătorul a ales metoda de plată cu ajutorul
      cardului bancar, este necesar să completeze un formular cu informații
      despre cardul plătitor, pe o pagină securizată.
    </p>
  </div>
</div>
<div class="container m-4 p-4"></div>
