<div class="container p-4"></div>
<div class="container-fluid px-2">
  <div class="row p-4">
    <div
      class="col px-4 d-flex justify-content-center align-items-center text-center"
    >
      <h1 class="text-color-red">🚧 Acest site este în construcție! 🚧</h1>
    </div>
  </div>
  <div class="row px-4">
    <div
      class="col px-4 d-flex justify-content-center align-items-center text-center"
    >
      <div class="card p-4 width-100prc">
        <div class="subtitle-1">Bine ați venit!</div>
        <div class="subtitle-2">
          La Misam vă oferim produse alimentare din următoarele categorii:
        </div>
      </div>
    </div>
  </div>
  <div class="row p-4">
    <div class="col-lg-3 col-sm-6 p-4">
      <button
        type="button"
        class="card home-category-card hover-card p-4 h-100 cursor-pointer w-100"
        (click)="onCategoryCardClick('bakeries')"
      >
        <img
          src="../../../assets/images/cofetarie.svg"
          class="img-fluid"
          alt="Categorie produse cofetărie"
        />
        Produse cofetărie
      </button>
    </div>
    <div class="col-lg-3 col-sm-6 p-4">
      <button
        type="button"
        class="card home-category-card hover-card p-4 h-100 cursor-pointer w-100"
        (click)="onCategoryCardClick('pastry')"
      >
        <img
          src="../../../assets/images/patiserie.svg"
          class="img-fluid"
          alt="Categorie produse patiserie"
        />
        Produse patiserie
      </button>
    </div>
    <div class="col-lg-3 col-sm-6 p-4">
      <button
        type="button"
        class="card home-category-card hover-card p-4 h-100 cursor-pointer w-100"
        (click)="onCategoryCardClick('sweets')"
      >
        <img
          src="../../../assets/images/torturi.svg"
          class="img-fluid"
          alt="Categorie torturi"
        />
        Torturi
      </button>
    </div>
    <div class="col-lg-3 col-sm-6 p-4">
      <button
        type="button"
        class="card home-category-card hover-card p-4 h-100 cursor-pointer w-100"
        (click)="onCategoryCardClick('basic_products')"
      >
        <img
          src="../../../assets/images/prod-baza.svg"
          class="img-fluid"
          alt="Categorie produse de bază"
        />
        Produse bază
      </button>
    </div>
  </div>
  <div class="row px-4">
    <div
      class="col px-4 d-flex justify-content-center align-items-center text-center"
    >
      <div class="card p-4 width-100prc">
        <div class="subtitle-2">
          De asemenea, livrăm in Sibiu torturi pentru diverse evenimente și
          aniversări:
        </div>
        <div class="list-container-1">
          <ul>
            <li class="py-2">Torturi pentru nuntă</li>
            <li class="py-2">Torturi pentru zile onomastice</li>
            <li class="py-2">Torturi aniversare Sibiu</li>
            <li class="py-2">Torturi personalizate</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-4">
    <div
      class="col px-4 d-flex justify-content-center align-items-center text-center"
    >
      <h3 class="text-color-red">test</h3>
    </div>
  </div>
  <div class="row p-4">
    <div
      class="col px-4 d-flex justify-content-center align-items-center text-center"
    >
      <h3 class="text-color-red">test</h3>
    </div>
  </div>
  <div class="row p-4">
    <div
      class="col px-4 d-flex justify-content-center align-items-center text-center"
    >
      <h3 class="text-color-red">test</h3>
    </div>
  </div>
</div>
<div class="container m-4 p-4"></div>
