<div class="container p-4"></div>
<div class="container p-2">
  <h1 class="visually-hidden">Plată și livrare</h1>
  <div class="card p-4 m-4 enter-rise">
    <h2 class="h1 text-center">Plată</h2>
    <p class="delivery-info-text">
      Prețul de achiziție prezentat pe bonul fiscal / factură va fi același cu
      cel prezentat pe website la momentul achiziției.
      <br />
      <br />
      Plata produselor cu transfer bancar: comanda se achita prin transfer
      bancar iar o copie dupa ordinul de plata trebuie trimisa pe adresa de mail
      <a href="mailto:test@testbakery.ro">test&#64;testbakery.ro</a> pentru a fi
      confirmata Plata la livrare: comanda se achită reprezentantului Companiei
      în momentul livrării comenzii prin plata ramburs.
      <br />
      Plata online: comanda se achită cu cardul bancar prin intermediul
      procesatorului de plăți agreat de Vânzător.
      <br />
      În cazul în care Cumpărătorul a ales metoda de plată cu ajutorul cardului
      bancar, este necesar să completeze un formular cu informații despre cardul
      plătitor, pe o pagină securizată.
    </p>
  </div>
  <div class="card p-4 m-4 enter-rise" style="--stagger: 2">
    <h2 class="h1 text-center">Livrare comenzi online</h2>
    <p class="delivery-info-text">
      Vânzătorul va asigura ambalarea corespunzătoare a produse și va asigura
      transmiterea documentelor însoțitoare.
      <br />
      <br />
      Vânzătorul va efectua livrarea produselor și serviciilor numai pe
      teritoriul Romaniei - Sibiu și zonele din imprejurul Sibiului.
    </p>
  </div>
</div>
<div class="container m-4 p-4"></div>
