<div class="container p-4"></div>
<div class="container p-2">
  <div class="card p-4 m-4 enter-rise">
    <h1 class="text-center">Returnare produse</h1>
    <p class="return-info-text">
      În cazul în care un produs și/sau Serviciu comandat nu poate fi livrat de
      către Vânzător, acesta va informa Cumpărătorul și va returna, în cazul
      plăților online, în contul Cumpărătorului contravaloarea Comenzii, în
      termen de maxim 7 (sapte) zile de la data Comenzii.
      <br />
      <br />

      De asemenea, dacă din orice motiv real și obiectiv produsul comandat nu
      este conform așteptărilor, el va fi refăcut și trimis cât se poate de
      repede. În caz contrar, contravaloarea comenzii va fi returnată.
      <br />
      <br />

      Pentru a se putea reglementa situația în orice fel, este necesar sa fie
      returnat produsul neconform sau, daca nu e posibil, să fie fotografiat în
      detaliu și trimis pe adresa de contact.
      <br />
      <br />

      Vânzătorul va putea amâna rambursarea sumei până la primirea produsului
      vândut sau până la primirea unei dovezi conform căreia acesta a fost
      deteriorat sau neconform.
    </p>
  </div>
</div>
<div class="container m-4 p-4"></div>
